@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: brown;
    padding: 20px;
}
header{
    color: antiquewhite;
}
.nahodka{
    font-family: "Roboto", sans-serif;
    color: brown;
    font-size: 18px;
}
body{
    background-color: rgb(130, 18, 18);
}

header{
    background-color: antiquewhite;
}

.menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
  }
  .button{
        font-family: "Roboto", sans-serif;
        background-color: rgba(236, 210, 177, 0.9);
        color: rgb(130, 18, 18);
        border-radius: 5px;
        font-size: 18px;
        padding: 15px;
  }

a { 
    color: antiquewhite; 
    text-decoration: none; 
    color: #5D2E0A;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin: 0 15px;
}


.curtain{
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: antiquewhite;
    border-radius: 16px;
    width: auto;
}
.nahodka{
    font-family: "Roboto", sans-serif;
    color: brown;
    font-size: 18px;
}

.N{
    color: rgb(130, 18, 18);
    text-decoration:underline;
}

@media (min-width: 768px) {
    .menu {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
  }
    .button{
        font-family: "Roboto", sans-serif;
        background-color: rgba(236, 210, 177, 0.9);
        color: rgb(130, 18, 18);
        border-radius: 5px;
        padding: 10px;
        font-size: 34px;
  }
  h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: brown;
    padding: 20px;
    font-size: 50px;
}
    p{
        font-size: 20px;
    }
    .nahodka{
        font-family: "Roboto", sans-serif;
        color: brown;
        font-size: 30px;
    }
    
    .N{
        color: rgb(130, 18, 18);
        text-decoration:underline;
        font-size: 30px;
    }
}
