@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: brown;
    padding: 20px;
}
header{
    background-color: antiquewhite;
    margin: 0px;
    padding:0px;

}
.nahodka{
    font-family: "Roboto", sans-serif;
    color: #431702;
    font-size: 18px;
}
body{
    background-color: #7a2902;
}


.menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
  }
  .button{
        font-family: "Roboto", sans-serif;
        background-color: rgba(236, 210, 177, 0.9);
        color: rgb(130, 18, 18);
        border-radius: 5px;
        font-size: 18px;
        padding: 15px;
        margin: 0px 15px;
  }

a { 
    color: antiquewhite; 
    text-decoration: none; 
    color: #5D2E0A;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin: 0 15px;
}


.curtain{
    margin: 0px 15px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: antiquewhite;
    border-radius: 16px;
    width: auto;
}
.nahodka{
    font-family: "Roboto", sans-serif;
    color: #431702;
    font-size: 18px;
}

.N{
    color: rgb(130, 18, 18);
    text-decoration:underline;
}

@media (min-width: 768px) {
    .menu {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
  }
    .button{
        font-family: "Roboto", sans-serif;
        background-color: rgba(236, 210, 177, 0.9);
        color: rgb(130, 18, 18);
        border-radius: 5px;
        padding: 15px, 20px;
        font-size: 32px;
  }
  h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: brown;
    padding: 20px;
    font-size: 50px;
}
    p{
        font-size: 20px;
    }
    .nahodka{
        font-family: "Roboto", sans-serif;
        color: #431702;
        font-size: 30px;
    }
    
    .N{
        color: rgb(130, 18, 18);
        text-decoration:underline;
        font-size: 30px;
    }
}

@media (min-width: 1280px) {
    h1{
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: brown;
        padding: 20px;
    }
    header{
        background-color: antiquewhite;
        margin: 0px;
        padding:0px;
    }
    .nahodka{
        font-family: "Roboto", sans-serif;
        color: #431702;
        font-size: 18px;
    }
    body{
        background-color: rgb(130, 18, 18);
    }
    
    
    .menu {
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 10px;
      }
      .button{
            font-family: "Roboto", sans-serif;
            background-color: rgba(236, 210, 177, 0.9);
            color: rgb(130, 18, 18);
            border-radius: 5px;
            font-size: 20px;
            padding: 15px 120px;
      }
      .curtain{
        
        width: 45%;
      }
      .N{
        font-size: 20px;
      }
      .button{
        display: none;
      }
      
  }
